---
-   name: Get facts by tags
    azure_rm_virtualmachine_info:
        resource_group: "{{ resource_group }}"
    delegate_to: localhost
    register: az_facts



-   name: Display all variables/facts known for a host
    debug:
        var: az_facts



-   name: add instance to hosts
    add_host:
        name: "{{ item.name[0:-3] }}.{{ domain_name }}"
        groups:
        - "{{ item.name[0:-3] }}"
        - "{{ item.tags.Type }}"
        - devops
        iname: "{{ item.name[0:-3] }}"
        itype: "{{ item.tags.Type }}"
        public_ip: "{{ item.tags.PublicIP }}"
    with_items: "{{ az_facts.vms }}"
    when: item.tags.PublicIP is defined and item.power_state == "running"



-   name: Display all variables/facts known for a host
    debug:
        var: hostvars