---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secrets
type: Opaque
data:
  ROOT_PASSWORD: bXktc3VwZXItc2VjcmV0LXJvb3QtcGFzc3dvcmR4ZA==
  DB_PASSWORD: bXktc3VwZXItc2VjcmV0LXJvb3QtcGFzc3dvcmRkeA==
  DB_USER: bWljcm9ibG9nX3VzZXIK
  MYSQL_DATABASE: bWljcm9ibG9nCg==
